#app{
    max-width: 400px;
    padding: 0 10px;
    margin: 50px auto;
    color: #1b1b1b;
}
.create-link-area{}
.create-link-area .link-wrap{
    margin: -20px 0 0;
}
.create-link-area .input-list-area{}
.create-link-area .input-list-area .list-wrap{}
.create-link-area .input-list-area .list-wrap .list-con{
    padding: 20px 0 0;
}
.create-link-area .input-list-area .list-wrap .list-inner{}
.create-link-area .input-list-area .list-wrap .input-wrap{}
.create-link-area .input-list-area .list-wrap .input-wrap input,
.create-link-area .input-list-area .list-wrap .input-wrap select{
    width: 100%;
    height: 40px;
    line-height: 38px;
    padding-left: 10px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    font-weight: 400;
}
.create-link-area .input-list-area .list-wrap .input-wrap .delete-wrap.show{
    position: relative;
    padding: 0 50px 0 0;
}
.create-link-area .input-list-area .list-wrap .input-wrap .delete-wrap .delete{
    position: absolute;
    right: 0;
    top: 0;
    display: none;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: red;
    padding: 0;
    transition: .25s;
    color: #fff;
    line-height: 40px;
    font-size: 32px;
    font-weight: 400;
}
.create-link-area .input-list-area .list-wrap .input-wrap .delete-wrap.show .delete{
    display: block;
}
.create-link-area .input-list-area .list-wrap .input-wrap .delete-wrap .delete:hover{
    background-color: orange;
}
.create-link-area .plus-btn-area{
    padding: 10px 0 0;
}
.create-link-area .plus-btn-area .btn-wrap{}
.create-link-area .plus-btn-area .btn-wrap .plus{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #8FCBDD;
    padding: 0;
    transition: .25s;
    color: #fff;
    line-height: 40px;
    font-size: 32px;
    font-weight: 400;
}
.create-link-area .plus-btn-area .btn-wrap .plus:hover{
    background-color: #333;
}
.create-link-area .submit-btn-area{
    padding: 20px 0 0;
}
.create-link-area .submit-btn-area .btn-wrap{}
.create-link-area .submit-btn-area .btn-wrap .submit{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #8FCBDD;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .25s;
}
.create-link-area .submit-btn-area .btn-wrap .submit:hover{
    background-color: #333;
}
.link-output-area{
    padding: 30px 0 0;
}
.link-output-area .copy-text-area{}
.link-output-area .copy-text-area .text-wrap{}
.link-output-area .copy-text-area .text-wrap .text{}
.link-output-area .copy-text-area .btn-wrap{
    padding: 20px 0 0;
}
.link-output-area .copy-text-area .btn-wrap .btn{
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #8FCBDD;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    transition: .25s;
}